name: Deploy mdBook site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      MDBOOK_VERSION: 0.4.36
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          source $HOME/.cargo/env
          rustup update

      - name: Install mdBook
        run: cargo install mdbook --version ${MDBOOK_VERSION}

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
        with:
          enablement: "auto"

      - name: Build with mdBook
        run: |
          
          if [ -d "documentation" ]; then
            mdbook build documentation
            mv documentation/book ${{ runner.temp }}/book
          else
            echo "Error: 'documentation' directory not found"
            exit 1
          fi

      - name: Create .nojekyll
        run: touch ${{ runner.temp }}/book/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ runner.temp }}/book
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.pages.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
